@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #2563eb;
  --secondary: #0f172a;
  --accent: #f97316;

  --gray: #64748b;

  --light: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
.tech-slider {
  overflow: hidden;
  position: relative;
}

.tech-track {
  display: flex;
  gap: 32px;
  width: max-content;
  animation: scroll 40s linear infinite;
}

.tech-slider:hover .tech-track {
  animation-play-state: paused;
}

.tech-item {
  min-width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #334155;
  transition: 0.3s;
}

.logo {
  width: 64px;
  height: 64px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: 0.3s;
}

.tech-item:hover .logo {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.tech-item span {
  margin-top: 12px;
  font-weight: 600;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}
*{
  box-sizing:border-box;
}